@import "foundation/modular-scale";

// Settings file containing Foundation defaults

// Grid Settings

$rowWidth: 670px;
$grid-min-width: $rowWidth;
// $columnGutter: 30px;
$totalColumns: 4;
// $mobileTotalColumns: 4;

// Colors Settings


$backgroundColor: #373c40;
$mainColor: #ff4557;
$secondaryColor: saturate(#bee8e0, 20%);
// $alertColor: #c60f13;
// $successColor: #5da423;
$txtColor: #6a737b * 1.1;
// $highlightColor: #ffff99;
// $black: #000;
// $white: #fff;
// $shinyEdge: rgba(#fff, .5);
// $darkEdge: rgba(#000, .2);

// Button Settings

// $buttonRadius: 3px;
// $btnBase: 10px;

// $tinyBtnBase: $btnBase - 5;
// $smallBtnBase: $btnBase - 3;
// $largeBtnBase: $btnBase + 5;

// Form Settings

// $formSpacing: 12px;

// Tab Settings

$tabHeight: 40px;

// Nav Bar Settings

// $navBarHeight: 40px;
// $navFlyoutBaseWidth: 250px;

// Modular Scale
// $ratio: $golden;
$base-size: 16px 50px;

