@import "foundation/base";
@import "settings";
/* --------------------------------------------------
   Table of Contents
-----------------------------------------------------
:: Mixins
:: Shared Styles
*/

/* -----------------------------------------
   Mixins
----------------------------------------- */

@mixin header-shadow {
  @include text-shadow(rgba(0,0,0,0.1) 0 1px 1px);
}

/* -----------------------------------------
   Shared Styles
----------------------------------------- */

.row { min-width: $rowWidth; }

.label.tertiary {
  background-color: $txtColor;
  color: $backgroundColor;
}

body {
  background: $backgroundColor url('/images/grey_noise_diagonal.png');
  font-family: "brevia", Brevia, Arial, sans-serif;
}

h1, h2, h3, h4, h5 {
  @include header-shadow;
}

h1 {
  font-family: "prenton", 'Helvetica Neue', Helvetica, Arial, sans-serif;
  letter-spacing: -0.05em;
  font-weight: 700;
}

a:hover {color: $mainColor * 0.85;}


body > header {
  $headerFontSize: 112px;

  ul.link-list.nav {
    margin-bottom: 0;

    a {
      color: $txtColor;
      &:hover { color: $secondaryColor; }
    }
  }

  h1 {
    text-align: center;
    color: $secondaryColor;
    a { color: $secondaryColor; }
    a:hover { color: saturate($secondaryColor, 20%) }
    margin: 0;
    font-size: $headerFontSize;
  }

  h4.subheader {
    margin-top: -0.7em;
    font-style: italic;
    font-size: $headerFontSize / 3;
    padding-left: 25%;
    color: $txtColor;
  }

}

section {
  article {
    h2 {
      font-weight: 600;
    }

    .flex-video {
      @include box-shadow(rgba(0,0,0,0.2) 0 1px 1px);
    }
  }

}

/* -----------------------------------------
   Foundation Icons Social
----------------------------------------- */

@font-face {
    font-family: 'FoundationIconsSocial';
    src: url('../fonts/foundation-icons-social.eot');
    src: url('../fonts/foundation-icons-social.eot?#iefix') format('embedded-opentype'),
         url('../fonts/foundation-icons-social.woff') format('woff'),
         url('../fonts/foundation-icons-social.ttf') format('truetype'),
         url('../fonts/foundation-icons-social.svg#FoundationIconsSocial') format('svg');
    font-weight: normal;
    font-style: normal;
}

.glyph { cursor: default; font-size: 16px; line-height: 1; }
.glyph.social { font-family: 'FoundationIconsSocial'; }

/* -----------------------------------------
   Foundation Icons General
----------------------------------------- */

@font-face {
  font-family: 'FoundationIconsGeneral';
  src: url('../fonts/foundation-icons-general.eot');
  src: url('../fonts/foundation-icons-general.eot?#iefix') format('embedded-opentype'),
       url('../fonts/foundation-icons-general.woff') format('woff'),
       url('../fonts/foundation-icons-general.ttf') format('truetype'),
       url('../fonts/foundation-icons-general.svg#FoundationIconsGeneral') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* CSS to style glyphs */
.glyph { cursor: default; font-size: 16px; line-height: 1; }
.glyph.general { font-family: "FoundationIconsGeneral"; }
