---
layout: post
title: "Episode 2: Time To Refactor"
youtube: 6KkF5-_erns
description: >
  Wherein we review the code from our last episide, fix some bugs, alleviate
  some code smells, refactor some things to improve clarity and reduce
  redundancy, and introduce the concept of failed board parsing with error
  reporting.
---

<h2><a href="{{ page.url }}">{{ page.title }}</a></h2>

<p class="lead">{{ page.description }}</p>

<p>
I've also posted a list of the tools I use to set up <a href="/environment.html">my environment</a>.
</p>

{% include discussion.html %}

<p>
  <span class="bright ss-icon">info</span> We recommend that you watch this video in full screen at 720p.
</p>

{% include youtube.html %}
