---
layout: post
title: "Episode 1: The Chess Board"
youtube: ScS8Q32lMxA
description: >
  Wherein we teach our engine a basic representation of chess pieces and
  boards, along with some helper functions to show them and read them.
---

<h2><a href="{{ page.url }}">{{ page.title }}</a></h2>

<p class="lead">{{ page.description }}</p>

{% include discussion.html %}

<p>
  <span class="bright ss-icon">info</span> We recommend that you watch this video in full screen at 1080p.
</p>

{% include youtube.html %}
