/* --------------------------------------------------
   Table of Contents
-----------------------------------------------------
:: Shared Styles
*/
/* -----------------------------------------
   Shared Styles
----------------------------------------- */
/* line 16, ../sass/app.scss */
.row {
  min-width: 670px;
}

/* line 18, ../sass/app.scss */
.label.tertiary {
  background-color: #6a737b;
  color: #373c40;
}

/* line 23, ../sass/app.scss */
body {
  background-color: #373c40;
  font-family: Brevia, Arial, sans-serif;
}

/* line 28, ../sass/app.scss */
h1 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  letter-spacing: -0.05em;
  font-weight: 900;
}

/* line 34, ../sass/app.scss */
a:hover {
  color: #d83a49;
}

/* line 40, ../sass/app.scss */
body > header ul.link-list.nav {
  margin-bottom: 0;
}
/* line 43, ../sass/app.scss */
body > header ul.link-list.nav a {
  color: #6a737b;
}
/* line 45, ../sass/app.scss */
body > header ul.link-list.nav a:hover {
  color: #bee8e0;
}
/* line 49, ../sass/app.scss */
body > header h1 {
  text-align: center;
  color: #bee8e0;
  margin: 0;
  font-size: 112px;
}
/* line 52, ../sass/app.scss */
body > header h1 a {
  color: #bee8e0;
}
/* line 53, ../sass/app.scss */
body > header h1 a:hover {
  color: #b5f1e5;
}
/* line 58, ../sass/app.scss */
body > header h4.subheader {
  margin-top: -0.6em;
  font-style: italic;
  font-size: 37.33333px;
  padding-left: 25%;
  color: #6a737b;
}

/* line 68, ../sass/app.scss */
article h2 {
  font-weight: 600;
}

/* -----------------------------------------
   Foundation Icons Social
----------------------------------------- */
@font-face {
  font-family: 'FoundationIconsSocial';
  src: url("../fonts/foundation-icons-social.eot");
  src: url("../fonts/foundation-icons-social.eot?#iefix") format("embedded-opentype"), url("../fonts/foundation-icons-social.woff") format("woff"), url("../fonts/foundation-icons-social.ttf") format("truetype"), url("../fonts/foundation-icons-social.svg#FoundationIconsSocial") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 87, ../sass/app.scss */
.glyph {
  cursor: default;
  font-size: 16px;
  line-height: 1;
}

/* line 88, ../sass/app.scss */
.glyph.social {
  font-family: 'FoundationIconsSocial';
}
